/* 
    Document   : regis-form-style1
    Description:
        Stylesheet for dressing up the registration process


*/

#event_list_wrapper{

    border: 0px solid #e8e8e8;
    display: block;
    padding:5px;
    width: auto;
}
#event_list_wrapper .event_wrapper{

    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;


}
.event_wrapper .event_thumbnail{
    float: left;
    width: 160px;
    padding: 0;
    margin: 5px;

}
.event_wrapper .event_thumbnail img{
      -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
.event_wrapper .event_info_wrapper{
    float: right;
    width: 400px;
}

.event_wrapper .event_title a{
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.event_wrapper .event_description{
    margin: 3px 10px;
    font-size: 12px;

}

.event_wrapper .event_description p{
    margin: 0
}

.event_wrapper .event_dates,
.event_wrapper .event_times{

    float: left;
}

.event_wrapper .event_dates span,
.event_wrapper .event_times span{

    margin: 3px;
    font-size: 11px;
}
.event_wrapper table{
    border: 1px solid #ccc;
}
.event_wrapper table th,
.event_wrapper table td {
    padding: 1px;
    text-transform: none;
}



.event_wrapper .add_button_wrapper {
    clear: both;
}
.event_wrapper .add_button_wrapper a
{
    float: right;
    margin: 5px;
}
#event_list_wrapper table {
        width:180px;
    margin: 0;
    font-size: 11px;
    margin: 3px;
}

.regis_form{
    margin:0 auto;

}

/* ----------- stylized -----------
    http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html
*/
#stylized{
    border:solid 1px #ccc;

    margin-bottom: 15px;
}
#stylized .required{
    border:solid 2px #f75e5e;

}
#stylized .row_wrapper{
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}
#stylized .row_wrapper:last-child{
    border-bottom: 0;
}

#stylized h1 {
    margin: 2px;
    font-size:14px;
    font-weight:bold;
    padding: 0
}
#stylized .field_wrapper{
    float: left;
}
#stylized p{
    font-size:11px;
    color:#666666;
    border-bottom:solid 1px #ccc;
    margin: 0;

}
#stylized label{
    color: #555;
    display:block;
    text-align:right;
    width:200px;
    float:left;
}
#stylized small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    margin:2px 0 2px 10px;
    text-align:left;
    width:100%;

}
/* when the values are displayed for overview*/
#stylized div.value{
    border-bottom: none;
    color:  #333;
    font-weight: bold;
    margin-left: 10px;
}

#stylized input[type="text"], #stylized select, #stylized textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 5px 10px;
}
#stylized submit{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background-color: #666666 ;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}
